.todo-container{
    padding: 0 10px;
}

.todo-form{
    width: 100%;
}

.todo-form input{
    width: 100%;
    padding: 7px 5px;
    background: transparent;
    border: 1px whitesmoke solid;
    color: whitesmoke;
}

.todo-form input:focus-within{
    outline: none;
}
